.btn {
  @include animation(moveInDown, 1s, ease-in-out);

  display: block;
  padding: 1rem 2rem;

  color: $apricot-kraiola-color;
  background-color: $brown-color;

  transition: .2s all;

  &:hover {
    border: 1.5px solid $brown-color;

    color: $dark-amber-color;
    background-color: $apricot-kraiola-color;
  }
}