.game-table {
  border-collapse: collapse;

  &__cell {
    @include text($cell-font-size,
                  $cell-font-weight,
                  $cell-line-height,
                  $brown-color);

    border: 3px solid $dark-amber-color;

    @include media-query(phone-md) {
      font-size: $cell-font-size-sm;
    }
  }
}