.margin-bottom-lg {
    margin-bottom: 50px;
}

.margin-bottom-md {
    margin-bottom: 35px;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

.text-align-center {
    text-align: center;
}