$mobile-lg-breakpoint: 767px;
$mobile-md-breakpoint: 479px;
$mobile-sm-breakpoint: 319px;

$font-family: 'Poppins', sans-serif;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-extra-light: 200;

$title-font-size-lg: 40px;
$title-font-size-md: 25px;
$title-font-size-sm: 16px;
$title-font-weight: $font-weight-medium;
$title-line-height: 26px;

$paragraph-font-size: 20px;
$paragraph-font-weight: $font-weight-regular;
$paragraph-line-height: 16px;

$cell-font-size: 40px;
$cell-font-size-sm: 20px;
$cell-font-weight: $font-weight-regular;
$cell-line-height: 10px;

$mark-font-size: 12px;
$mark-font-weight: $font-weight-regular;
$mark-line-height: 10px;

$white-color: #ffffff;
$black-color: #000000;
$dark-amber-color: #FF7400;
$copper-color: #BF7130;
$brown-color: #A64B00;
$moderate-orange-yellow: #FF9640;
$apricot-kraiola-color: #FDD9B5;

$vk-icon-color: #4C75A3;
$github-icon-color: #010101;
$instagram-icon-color: #010101;
